table {
    height: 80vh;
    width: 80vh;
    margin: auto;

    border: 1px solid gray;
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
}

button {
    display: block;
    height: 100%;
    width: 100%;
    padding: 3px;
    border: none;
}

button:focus {
    outline: 0;
}

.player {
    padding: 3px;
    background-color: green;
}

.player button {
    padding: 0px;
}
