body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: auto;
    font-size: 2em;
    text-align: center;
}

table {
    height: 80vh;
    width: 80vh;
    margin: auto;
    border: 1px solid gray;
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
}

table button {
    display: block;
    height: 100%;
    width: 100%;
    padding: 3px;
    border: none;
}

button:focus {
    outline: 0;
}

#room-info div {
    display: inline-block;
    padding: 5px;
}

#go-btn {
    font-size: 0.8em;
}

input {
    height: 2em;
    padding-top: 0px;
}

.player {
    position: relative;
    padding: 3px;
}

.player button {
    padding: 0px;
}

.player #name {
    position: absolute;
    top: 8.3vh;
    right: 0;
    font-size: 8pt;
    padding: 2px;
    border-radius: 5px;
    z-index: 1;
}
