body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: auto;
    font-size: 2em;
    text-align: center;
}

#canvas {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

table {
    height: calc(75vw + 75vh);
    width: calc(75vw + 75vh);
    margin: auto;
    border: 1px solid #EEE;
    border-collapse: collapse;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

td {
    border: none;
}

table button {
    display: block;
    height: 100%;
    width: 100%;
    padding: 3px;
    border: 1px solid rgba(200, 200, 200, 20%);
}

button:focus {
    outline: 0;
}

div#room-info {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12pt;
    background-color: #EEE;
    z-index: 2;
}

#go-btn {
    font-size: 0.8em;
}

input {
    height: 2em;
    padding-top: 0px;
}

#coords {
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 12pt;
    background-color: #EEE;
    z-index: 2;
}

.player {
    position: relative;
    padding: 3px;
}

.player button {
    padding: 0px;
}

.player #name {
    position: absolute;
    top: calc(3vw + 3vh - 2px);
    right: 0;
    font-size: 10pt;
    padding: 2px;
    border-radius: 2px;
    z-index: 1;
}
